@{
    ViewData["Title"] = "Access Denied";
}



<div class="text-center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <h5 class="text-danger">You don't have permission to view this resource'</h5>
    <img src="~/images/accessdenied.jpg" alt="Access Denied" class="img" />
</div>